@using OBS.Models
<!-- Main sidebar -->
<div class="sidebar sidebar-dark sidebar-main sidebar-expand-md">
    @{
        OBSEntities _db = new OBSEntities();
        var status = "";

        if (Session["userName"] == null)
        {
            FormsAuthentication.SignOut();
            Response.Redirect("/", true);
        }
        else
        {
            var userName = Session["userName"].ToString();
            var userCheck = _db.Users.FirstOrDefault(x => x.Username == User.Identity.Name);


            if (userCheck != null)
            {
                if (userCheck.StudentId != null)
                {
                    status = "Student";

                }
                else if (userCheck.TeacherId != null)
                {
                    status = "Teacher";
                }
                else
                {
                    status = "Admin";
                }
            }
            else
            {
                var stdCheck = _db.Students.FirstOrDefault(x => x.TCNumber == User.Identity.Name || x.StudentNumber == User.Identity.Name);
                if (stdCheck != null)
                {
                    status = "Student";

                }
                else
                {
                    var tchCheck = _db.Teachers.FirstOrDefault(x => x.TCNumber == User.Identity.Name);
                    if (tchCheck != null)
                    {

                        status = "Teacher";

                    }
                    else
                    {
                        status = "Admin";
                    }
                }
            }

        }



    }
    <!-- Sidebar mobile toggler -->
    <div class="sidebar-mobile-toggler text-center">
        <a href="#" class="sidebar-mobile-main-toggle">
            <i class="icon-arrow-left8"></i>
        </a>
        Menü
        <a href="#" class="sidebar-mobile-expand">
            <i class="icon-screen-full"></i>
            <i class="icon-screen-normal"></i>
        </a>
    </div>
    <!-- /sidebar mobile toggler -->
    <!-- Sidebar content -->
    <div class="sidebar-content">
        <!-- User menu -->
        <div class="sidebar-user">
            <div class="card-body">
                <div class="media">
                    <div class="mr-3">
                        <a href="#"><img src="~/Uploads/@Session["picture"]" width="38" height="38" class="rounded-circle" alt=""></a>
                    </div>
                    <div class="media-body">
                        <div class="media-title font-weight-semibold">@Session["userName"]</div>
                        <div class="font-size-xs opacity-50">
                            <i class="icon-users4 font-size-lg"></i> &nbsp;
                            @if (status == "Admin")
                            {
                                @Html.Label("Müdür")
                            }
                            else if (status == "Teacher")
                            {
                                @Html.Label("Öğretmen")
                            }
                            else if (status == "Student")
                            {
                                @Html.Label("Sınıfı: ")
                                @Session["className"].ToString();
                            }
                        </div>
                    </div>
                    <div class="ml-3 align-self-center">
                        <a href="@Url.Action("LogOut","Home")" class="text-white"><i class="icon-switch2"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /user menu -->
        <!-- Main navigation -->
        <div class="card card-sidebar-mobile">
            <ul class="nav nav-sidebar" data-nav-type="accordion">
                <!-- Main -->
                <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Menü</div> <i class="icon-menu" title="Main"></i></li>
                <li class="nav-item">
                    <a href="/" class="nav-link active">
                        <i class="icon-home4"></i>
                        <span>Anasayfa</span>
                    </a>
                </li>
                @if (status == "Student")
                {
                    <li class="nav-item">
                        <a href="/announcement" class="nav-link">
                            <i class="icon-megaphone"></i>
                            <span>Duyurular</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/class/schedule" class="nav-link">
                            <i class="icon-calendar22"></i>
                            <span>Ders Programım</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/homework" class="nav-link">
                            <i class="icon-pencil7"></i>
                            <span>Ödevlerim</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/absenteeism" class="nav-link">
                            <i class="icon-calendar52"></i>
                            <span>Devamsızlık</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/exam" class="nav-link">
                            <i class="icon-pen2"></i>
                            <span>Sınav Notlarım</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/appointment" class="nav-link">
                            <i class="icon-calendar5"></i>
                            <span>Randevularım</span>
                            @{

                                var userId = Convert.ToInt32(Session["userId"]);
                                var stdId = _db.Users.FirstOrDefault(x => x.ID == userId)?.StudentId;

                                if (stdId != null)
                                {
                                    var appo = _db.Appointment.Count(x => x.StudentId == stdId && x.Status == "Onay Bekleniyor");
                                    if (appo > 0)
                                    {
                                        <span class="badge badge-pill bg-blue ml-auto">@appo</span>
                                    }
                                }
                            }
                        </a>
                    </li>

                    <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs"> Ayarlar</div> <i class="icon-menu" title="Ayarlar"></i></li>
                    <li class="nav-item">
                        <a href="/user/profile" class="nav-link">
                            <i class="icon-user-check"></i>
                            <span>Profilimi Düzenle</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/changepassword" class="nav-link">
                            <i class="icon-key"></i>
                            <span>Şifremi Değiştir</span>
                        </a>
                    </li>
                }
                @if (status == "Teacher")
                {
                    <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Sınıf Yönetimi</div> <i class="icon-menu" title="Sınıf Yönetimi"></i></li>

                    <li class="nav-item">
                        <a href="/class/students" class="nav-link">
                            <i class="icon-users4"></i>
                            <span>Sınıf Listesi</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/announcement" class="nav-link">
                            <i class="icon-megaphone"></i>
                            <span>Duyurular</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/class/schedule" class="nav-link">
                            <i class="icon-calendar22"></i>
                            <span>Ders Programım</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/homework" class="nav-link">
                            <i class="icon-pencil7"></i>
                            <span>Ödevler</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/absenteeism" class="nav-link">
                            <i class="icon-calendar52"></i>
                            <span>Devamsızlık</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/exam" class="nav-link">
                            <i class="icon-pencil6"></i>
                            <span>Not Yönetimi</span>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/appointment" class="nav-link">
                            <i class="icon-calendar5"></i>
                            <span>Randevu İstekleri</span>
                            @{

                                var userId = Convert.ToInt32(Session["userId"]);
                                var tchId = _db.Users.FirstOrDefault(x => x.ID == userId)?.TeacherId;

                                if (tchId != null)
                                {
                                    var appo = _db.Appointment.Count(x => x.TeacherId == tchId && x.Status == "Onay Bekleniyor");
                                    if (appo > 0)
                                    {
                                        <span class="badge badge-pill bg-blue ml-auto">@appo</span>
                                    }
                                }
                            }
                        </a>
                    </li>

                    <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs"> Ayarlar</div> <i class="icon-menu" title="Ayarlar"></i></li>
                    <li class="nav-item">
                        <a href="/user/profile" class="nav-link">
                            <i class="icon-user-check"></i>
                            <span>Profilimi Düzenle</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/changepassword" class="nav-link">
                            <i class="icon-key"></i>
                            <span>Şifremi Değiştir</span>
                        </a>
                    </li>

                }
                <!-- /main -->
                <!-- admin -->
                @if (status == "Admin")
                {
                    <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Akademik</div> <i class="icon-menu" title="Akademik"></i></li>
                    <li class="nav-item">
                        <a href="/announcement" class="nav-link">
                            <i class="icon-megaphone"></i>
                            <span>Duyurular</span>
                        </a>
                    </li>
                    <li class="nav-item nav-item-submenu">
                        <a href="#" class="nav-link"><i class="icon-library2"></i> <span>Sınıf İşlemleri</span></a>
                        <ul class="nav nav-group-sub" data-submenu-title="Sınıf İşlemleri">
                            <li class="nav-item"><a href="/class" class="nav-link">  <i class="icon-users2"></i> Sınıflar </a></li>
                            <li class="nav-item"><a href="/class/students" class="nav-link">  <i class="icon-reading"></i> Sınıf Listesi </a></li>
                            <li class="nav-item">
                                <a href="/class/schedule" class="nav-link">
                                    <i class="icon-calendar22"></i>
                                    <span>Ders Programı</span>
                                </a>
                            </li>
                            <li class="nav-item"><a href="/homework" class="nav-link">  <i class="icon-address-book"></i> Ödevler </a></li>

                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="/lessons" class="nav-link">
                            <i class="icon-books"></i>
                            <span>Dersler</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/appointment" class="nav-link">
                            <i class="icon-calendar5"></i>
                            <span>Randevu Yönetimi</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/absenteeism" class="nav-link">
                            <i class="icon-calendar52"></i>
                            <span>Devamsızlık Yönetimi</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/exam" class="nav-link">
                            <i class="icon-pen2"></i>
                            <span>Not Yönetimi</span>
                        </a>
                    </li>
                    <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs">Yönetim</div> <i class="icon-menu" title="Yönetim"></i></li>

                    <li class="nav-item nav-item-submenu">
                        <a href="#" class="nav-link"><i class="icon-graduation2"></i> <span>Öğretmenler</span></a>
                        <ul class="nav nav-group-sub" data-submenu-title="Öğretmenler">
                            <li class="nav-item"><a href="/teachers" class="nav-link">  <i class="icon-users2"></i> Öğretmenler</a></li>
                            <li class="nav-item"><a href="/teachers/profession" class="nav-link">  <i class="icon-star-full2"></i> Uzmanlık Alanları</a></li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a href="/students" class="nav-link">
                            <i class="icon-users4"></i>
                            <span>Öğrenciler</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/users" class="nav-link">
                            <i class="icon-user"></i>
                            <span>Kullanıcılar</span>
                        </a>
                    </li>

                    <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs"> Ayarlar</div> <i class="icon-menu" title="Ayarlar"></i></li>
                    <li class="nav-item">
                        <a href="/user/profile" class="nav-link">
                            <i class="icon-user-check"></i>
                            <span>Profilimi Düzenle</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/user/changepassword" class="nav-link">
                            <i class="icon-key"></i>
                            <span>Şifremi Değiştir</span>
                        </a>
                    </li>
                }
                <!--admin -->
            </ul>
        </div>
        <!-- /main navigation -->
    </div>
    <!-- /sidebar content -->
</div>
<!-- /main sidebar -->