<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title Abaküs </title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/bootstrap_limitless.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/layout.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/components.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/colors.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/css/iziToast.min.css" rel="stylesheet" type="text/css">
    <link href="//cdn.jsdelivr.net/npm/jquery-easy-loading/dist/jquery.loading.min.css" rel="stylesheet">
    <link href="~/Content/assets/css/extras/animate.min.css" rel="stylesheet" type="text/css">
    <link href="~/Content/assets/gijgo/css/gijgo.min.css" rel="stylesheet" />
</head>
<body>

    @Html.Partial("Partial/_Navbar")
    <div class="page-content">

        @Html.Partial("Partial/_Sidebar")
        <div class="content-wrapper">
            @RenderSection("breadcrumbs", required: false)
            <div class="content">
                @RenderBody()
            </div>
            @Html.Partial("Partial/_Footer")
        </div>
    </div>

    <script src="~/Content/assets/js/main/jquery.min.js"></script>

    <script src="~/Content/assets/js/date.format.js"></script>
    <!-- Core JS files -->
    <script src="~/Content/assets/js/main/bootstrap.bundle.min.js"></script>
    <script src="~/Content/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/Content/assets/js/app.js"></script>
    <script src="~/Content/assets/js/iziToast.min.js"></script>
    <script src="~/Content/assets/js/plugins/forms/selects/select2.min.js" charset="UTF-8"></script>
    <script src="~/Content/assets/js/plugins/tables/datatables/datatables.min.js"></script>
    <!-- /theme JS files -->
    <script src="~/Content/assets/js/angular.min.js"></script>
    <script src="~/Scripts/obs.js"></script>
<script src="~/Content/assets/gijgo/js/gijgo.min.js"></script>

<script src="~/Content/assets/gijgo/js/messages/messages.tr-tr.min.js"></script>
    <!-- /global stylesheets -->
    <script src="https://codyhouse.co/demo/schedule-template/js/modernizr.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-easy-loading/dist/jquery.loading.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote-bs4.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/lang/summernote-tr-TR.min.js"></script>
    <script src="~/Content/assets/schedule/js/main.js"></script>

    <script src="~/Content/assets/js/demo_pages/animations_css3.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
